.characterImage {
    width: 10em;
    height: 10em;
    border-radius: 50%;

}

.characterName {
    font-weight: bold;
    font-family: 'Play', sans-serif;
    color: white;
}


.modalImagee {
	width: 15em;
	border-radius: 1em;
}

.visible-true {
	display:block;
}

.visible-false {
	display:none;
}