ul {
	list-style-type: none;
}

.placeTitle {
	width: 30em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
}

.placeObject {
	text-align: center;
	display: block;
	float: left;
	padding: 1.25em;
}

.placeContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



