

.homeContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.homeButtonContainer {
	display: block;
	width: 75em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.responsiveButtons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.homeObject {
	text-align: center;
	display: block;
	float: left;
	padding: 1.25em;
}

.homeImage {
    width: 32em;
    height: 16.438em;
    border-radius: 1.5em;
	opacity: 0.5;
}

#heroes  {
}

#villains  {
}

#locations  {
}

#theories  {
}

#heroes:hover {
	opacity: 0.24;
}

#villains:hover {
	opacity: 0.24;
}

#locations:hover {
	opacity: 0.24;
}

#theories:hover {
	opacity: 0.24;
}

.movies {
	padding-top: 2em;
	width: 100%;
}

.buttonContainer {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    padding-bottom: 1.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Play', sans-serif;
}