/*.heroBackground {
	background-color: grey;
}*/

.heroTitle {
	text-align: center;
}

ul {
	list-style-type: none;
}

.heroContainer {
	margin-left: 5em;
	margin-right: 5em;
	text-align: center;
}

.heroImage {
	width: 160px;
	height: 160px;
	border-radius: 100%;
}

.heroObject {
	text-align: center;
	display: block;
	float: left;
	padding: 20px;
}

.heroName {
	font-weight: bold;
	font-family: 'Play', sans-serif;
}

.newHeroTitle {
	clear: both;
	text-align: center;
	margin-left: 5em;
	margin-right: 20em;
}

.newHero {
	clear: both;
	margin-left: 5em;
	margin-right: 12em;
	width: 50%;
	text-align: center;
}

hr {
	clear: both;
}

/*.heroInfo {
	display: none;
}
.heroInfo.on {
	display: block;
}*/


/*font-family: 'Play', sans-serif;
font-family: 'PT Sans Caption', sans-serif;*/