.background {
	background-color: black;
}

.heroTitle {
	text-align: center;
}

ul {
	list-style-type: none;
}

.heroContainer {
	margin-left: 140px;
	margin-right: 140px;
	text-align: center;
}

.heroImage {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.heroObject {
	text-align: center;
	display: block;
	float: left;
	padding: 20px;
}

.heroName {
	font-weight: bold;
	font-family: 'Play', sans-serif;
}

/*.heroInfo {
	display: none;
}
.heroInfo.on {
	display: block;
}*/


/*font-family: 'Play', sans-serif;
font-family: 'PT Sans Caption', sans-serif;*/