.navbar {
    background-color: black;
    border: 3px black solid;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 22px;
    font-family: 'PT Sans Caption', sans-serif;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
}